## Introduction
#### The ***2025* Formula 1 season** represented the **final and most saturated year of the ground-effect regulation cycle**, with teams operating at the limits of aerodynamic and operational convergence ahead of the 2026 reset; while **Red Bull and Max Verstappen** continued to be central reference points, the season was defined by **compressed performance margins**, increased strategic sensitivity, and heightened importance of execution over outright pace, as Ferrari, McLaren, and Mercedes capitalised on marginal gains, tyre management, and race-day decisions, making 2025 a season characterised by **regulation exhaustion**, **fine-grained strategic trade-offs**, and a grid finely balanced on the edge of a major technical transition.

## Importing the necessary libraries

In [10]:
import pandas as pd
import fastf1
import logging

In [11]:
fastf1.Cache.enable_cache("../cache")

## Getting the Races of 2025

In [12]:
schedule = fastf1.get_event_schedule(2025)
listOfRaces = schedule["Country"].tolist()
listOfRaces

['Bahrain',
 'Australia',
 'China',
 'Japan',
 'Bahrain',
 'Saudi Arabia',
 'United States',
 'Italy',
 'Monaco',
 'Spain',
 'Canada',
 'Austria',
 'United Kingdom',
 'Belgium',
 'Hungary',
 'Netherlands',
 'Italy',
 'Azerbaijan',
 'Singapore',
 'United States',
 'Mexico',
 'Brazil',
 'United States',
 'Qatar',
 'United Arab Emirates']

## Iterating into every Race and concatenating every Race Data into a DataFrame
Through my first try in ["Bahrain_test.ipynb"](https://github.com/Chracker24/MTS-IE/blob/main/02_Notebooks/Data_Collection/Formula1/2020/Bahrain_test.ipynb), I am going to use a loop to collect data and trim it down to the column and data points that I deem necessary for the Intelligence Engine.

In [13]:
cols = [
    "Driver",
    "LapTime",
    "Stint",
    "Sector1Time",
    "Sector2Time",
    "Sector3Time",
    "Compound",
    "Team",
    "Deleted",
]

In [14]:
Season_Data2025 = []

In [15]:
logging.getLogger("fastf1").setLevel(logging.ERROR)
for i in range(len(listOfRaces)):
    session = fastf1.get_session(2025, listOfRaces[i], "R")
    session.load(laps=True, telemetry=False, weather=False)
    laps = session.laps
    Race_Data = laps[cols].copy()
    Race_Data = Race_Data.dropna(subset=["LapTime"]).copy()
    Race_Data["Season"] = 2025
    Race_Data["Race"] = listOfRaces[i]
    Race_Data[["LapTime","Sector1Time","Sector2Time","Sector3Time"]] = Race_Data[["LapTime","Sector1Time","Sector2Time","Sector3Time"]].apply(lambda x : x.dt.total_seconds())
    Race_Data = Race_Data[Race_Data["Deleted"]==False].copy()

    Season_Data2025.append(Race_Data)

In [16]:
season_2025 = pd.concat(Season_Data2025, ignore_index=True)

In [17]:
season_2025

,Driver,LapTime,Stint,Sector1Time,Sector2Time,Sector3Time,Compound,Team,Deleted,Season,Race
0,PIA,98.693,1.0,NaN,42.130,23.956,SOFT,McLaren,False,2025,Bahrain
1,PIA,97.492,1.0,31.139,42.343,24.010,SOFT,McLaren,False,2025,Bahrain
2,PIA,98.083,1.0,31.306,42.727,24.050,SOFT,McLaren,False,2025,Bahrain
3,PIA,98.133,1.0,31.326,42.796,24.011,SOFT,McLaren,False,2025,Bahrain
4,PIA,98.043,1.0,31.305,42.690,24.048,SOFT,McLaren,False,2025,Bahrain
...,...,...,...,...,...,...,...,...,...,...,...
27056,COL,88.723,3.0,17.776,38.507,32.440,MEDIUM,Alpine,False,2025,United Arab Emirates
27057,COL,88.680,3.0,17.875,38.411,32.394,MEDIUM,Alpine,False,2025,United Arab Emirates
27058,COL,88.570,3.0,17.709,38.457,32.404,MEDIUM,Alpine,False,2025,United Arab Emirates
27059,COL,88.940,3.0,17.865,38.471,32.604,MEDIUM,Alpine,False,2025,United Arab Emirates
27060,COL,90.714,3.0,17.722,39.629,33.363,MEDIUM,Alpine,False,2025,United Arab Emirates